@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@keyframes example {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.indexButton {
  font-family: "Dancing Script", cursive;
  text-align: center;
  display: block;
  padding: 1rem 0;
  background-color: #fffcf2;
  color: black;
  font-size: 2rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navList {
  width: 100%;
  display: flex;
  gap: 0;
  align-items: center;
  border-bottom: 1px solid beige;
  align-items: center;
  background-color: #fffcf2;
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.navList__listItem {
  list-style: none;
}
.navList__link {
  text-decoration: none;
  color: #252422;
  font-family: "Mukta", sans-serif;
  font-size: 1.5em;
  color: #252422;
  transition: 0.2s;
}
.navList__link:hover {
  font-weight: 900;
}

.navList--scroll {
  background-color: rgba(255, 252, 242, 0.7647058824);
  border-bottom: 0px solid black;
}
.navList--scroll:hover {
  background-color: #fffcf2;
}

.heroDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.heroDiv__img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  filter: grayscale(40%);
}
.heroDiv__box {
  padding-top: 10rem;
  z-index: 2;
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.353);
}
.heroDiv__heading {
  max-height: 100px;
  width: 100%;
  font-family: "Mukta", sans-serif;
  text-align: center;
  color: #fffcf2;
  z-index: 2;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.heroDiv__introText {
  text-align: center;
  color: #fffcf2;
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
}
.heroDiv__link {
  text-decoration: none;
  border: 2px solid #fffcf2;
  color: #fffcf2;
  padding: 1rem;
  font-family: "Mukta", sans-serif;
  font-size: 1.5rem;
  max-width: 300px;
  display: block;
  margin: 2rem auto;
  text-align: center;
  transition: 0.3s;
}
.heroDiv__link:hover {
  font-weight: 800;
  background-color: #252422;
  border: 2px solid #252422;
}

.twoBoxes {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  color: #fffcf2;
  font-family: "Quicksand", sans-serif;
}
.twoBoxes__img {
  filter: grayscale(60%);
  max-height: 600px;
  transition: 0.5s;
}
.twoBoxes__left {
  background-color: #403d39;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  padding-left: 1rem;
  max-height: 600px;
}
.twoBoxes__textDiv {
  grid-row: 2/3;
  max-width: 80%;
}
.twoBoxes__textDiv p:nth-child(1) {
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  max-height: 100px;
  transition: 1s;
  opacity: 0;
  animation-delay: 0.5s;
}
.twoBoxes__textDiv p:nth-child(2) {
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  max-height: 100px;
  transition: 1s;
  opacity: 0;
  animation-delay: 1.5s;
}
.twoBoxes__textDiv p:nth-child(3) {
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  max-height: 100px;
  transition: 1s;
  opacity: 0;
  animation-delay: 2.5s;
}
.twoBoxes__textDiv p:nth-child(4) {
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  max-height: 100px;
  transition: 1s;
  opacity: 0;
  animation-delay: 3.5s;
}
.twoBoxes__text {
  font-size: 1.1em;
  opacity: 0;
  padding-top: 2rem;
  grid-column: 1/2;
  padding-left: 1rem;
}
.twoBoxes__heading {
  padding-top: 2rem;
  text-align: left;
}
.twoBoxes__link {
  text-decoration: none;
  color: #fffcf2;
  align-self: flex-start;
  margin-top: auto;
  padding-bottom: 3rem;
  transition: 0.2s;
}
.twoBoxes__link i {
  transition: 0.5s;
}
.twoBoxes__link:hover {
  color: #eb5e28;
}
.twoBoxes__link:hover i {
  rotate: -90deg;
}

.project {
  background-color: rgba(0, 0, 0, 0.429);
  box-shadow: 1px 1px 10px black;
  padding: 2rem;
  transition: 0.4s;
  border-radius: 3px;
}
.project__heading {
  font-family: "Lexend", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #fffcf2;
  margin-bottom: 2rem;
}
.project:hover {
  box-shadow: 0px 0px 0px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.blackmark {
  color: #252422;
}

.chosenProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.chosenProjects__heading {
  grid-column: 1/-1;
  color: #fffcf2;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Mukta", sans-serif;
}

#wrapper {
  margin: 0 auto;
}