@use "variabels";
.blackmark{
color: variabels.$nav-black;
}
//her laver jeg koden til den overordnet boks, der holder på projektvisningerne
.chosenProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    &__heading{
        
        grid-column: 1/-1;
        color: variabels.$chill-white;
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-size: 2rem;
        font-family: variabels.$heroHeading;
    }
}
@media only screen and (max-width: 1200px) {
    .chosenProjects{
        width: 95%;
    }
}
@media only screen and (max-width: 600px) {
    .chosenProjects{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        justify-items: center;
    }
}

