//her impoter jeg fonts fra google
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');//her declarer jeg mive variabler
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$logo-font: "Dancing Script", cursive;
$product-font: "Lexend", sans-serif;
$nav-font:  "Fredoka", sans-serif;
$boxes-font: "Quicksand", sans-serif;
$heroHeading: "Mukta", sans-serif;
$beudo: #ccc5b9;
$navbarBackground: black;
$nav-black: #252422;
$hover-red: #eb5e28;
$dark-grey: #403d39;
$chill-white: #fffcf2;
$light-blue: #90e0ef;
$whiteb-blue: #caf0f8;
