@use "../variabels";

.footer{
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    font-family: variabels.$heroHeading;
    background-color: variabels.$chill-white;
    
    &__list{
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    &__listItem{
        list-style: none;
    }
    &__link{
        text-decoration: none;
        font-size: 1.5em;
        color: variabels.$dark-grey;
    }
    &__contactIfoDiv{
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding-top: 2rem;
       

    }
    &__contactOption{
       
        color: variabels.$dark-grey;
    }
    &__form {
        display: flex;
        padding-top: 2rem;
        justify-content: center;
        gap: 1rem;
    }
    &__input{
        width: 200px;
        height: 36px;
        background-color: variabels.$dark-grey;
        color: variabels.$chill-white;
        border-radius: 3px;
        font-size: 1rem;
        font-family: variabels.$nav-font;
        border: 0px solid transparent;
    }
    &__submit{
        width: 60px;
        background-color: variabels.$dark-grey;
        border: 0px solid transparent;
        padding: 0.4rem;
        color: variabels.$chill-white;
        border-radius: 3px;
    }
}