@use "../mixins";
@use "../variabels";

.heroDiv{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   
    &__img{
        grid-row: 1/-1;
        grid-column: 1/-1;
       
        
        filter: grayscale(40%)
    }
    &__box{
        padding-top: 3rem;
        z-index: 2;
        grid-row: 1/-1;
        grid-column: 1/-1;
        background-color: rgba(0, 0, 0, 0.353);
    }
&__heading{
   
    
    max-height:100px;
    width: 100%;
    font-family: variabels.$heroHeading;
    text-align: center;
    color: variabels.$chill-white;
   
    z-index: 2;
    font-size: 4rem;
    margin-bottom: 2rem;
    
}
&__introText{
    text-align: center;
    color: variabels.$chill-white;
    font-size: 1.5rem;
    font-family: variabels.$heroHeading;

}
&__link{
    text-decoration: none;
    border: 2px solid variabels.$chill-white;
    color: variabels.$chill-white;
    padding: 1rem;
    font-family: variabels.$heroHeading;
    font-size: 1.5rem;
    max-width: 300px;
    display: block;
    margin: 2rem auto;
    text-align: center;
    transition: 0.3s;
    &:hover{
        font-weight: 800;
        background-color: variabels.$nav-black;
        border: 2px solid variabels.$nav-black;
    }
}

}

@media only screen and (max-width: 1400px) {
    .heroDiv{
        
        &__img{
            height: 1000px;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .heroDiv{
        
        &__img{
            height: 800px;
        }
    }
}

