
@use "../mixins";
@use "../variabels";
@use 'sass:color';

//I dette dokument er både css'en til naven, men også til a tagget i toppen
.indexButton{
    font-family: variabels.$heroHeading;
    text-align: center;
    display: block;
    padding: 1rem 0;
    background-color: variabels.$chill-white;
            
           
    color: black;
   font-size: 2rem;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navList{
    border-bottom: 0px solid black;
    
    @include mixins.navBar(100%, flex, 0); //en mixin der giver den flex
  
    transition: 0.4s;
    align-items: center;
   
   

        align-items: center;

       
        
        background-color: variabels.$navbarBackground;
        display: flex;
        gap: 3rem;
        
        
        justify-content: center;
        
        
        
       
    
    
    &__listItem{
        list-style: none;
        
        
    }
    &__link{
        text-decoration: none;
        color: variabels.$nav-black;;
        font-family: variabels.$heroHeading;
        font-size: 1.5em;
        color: variabels.$chill-white;
        transition: 0.2s;

        
        &:hover{
           font-weight: 700;
           color: #fffcf2;

        }
    }
}
//her laver jeg en ny styling til den, som skal forstille når man er scrollet ned
.navList--scroll{
    
    
    opacity: .7;
       
       border: 0px solid transparent;
       background-color: color.adjust(variabels.$navbarBackground, $lightness: 0%);
   
    &:hover{
        background-color: #fffcf2;
    }
    .navList{
    &__link{
        opacity: 1  ;
        color: white;
    }
   
}}

.navList--scroll:hover .navList__link{
    color: black;
    
}