@use "../mixins";
@use "../variabels";
//denne scss fil, er til hvert individuelt projekt, kan også genbruges til at lave ét produkt
.project{
    background-color: rgba(0, 0, 0, 0.429);
    box-shadow: 1px 1px 10px black;
    padding: 2rem;
    transition: 0.3s;
    border-radius: 3px;
    &__heading{
        font-family: variabels.$product-font;
        text-align: center;
        font-size: 2rem;
        color: variabels.$chill-white;
        margin-bottom: 2rem;
    }
    &__text{
        color: white;
        padding-top: 0.5rem;
        
        font-family: variabels.$boxes-font;
    }
    &__link{
        max-width: 100%;
        border-radius: 5px;
        display: block;
        text-align: center;
        margin: 2rem auto 0 auto;
        color: variabels.$hover-red;
        text-decoration: none;
        font-family: variabels.$boxes-font;
        font-weight: 900;
        background-color: variabels.$dark-grey;
        padding: 1rem;
        transition: 0.3s;
        &:hover{
            background-color: variabels.$hover-red;
            color: variabels.$dark-grey
        }
    }
    //hover effect på product
    &:hover{
        box-shadow: 0px 0px 0px black;
    }
}

@media only screen and (max-width: 1000px) {
    .project{
        display: grid;
        padding: 0;
        max-width: 300px;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 0rem;
        &__heading{
            grid-column: 1/-1;
            grid-row: 1/2;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.404);
            height: 100%;
        }
        &__img{
            grid-column: 1/-1;
            grid-row: 1/-1;
        }
        &__link{
            grid-column: 1/-1;
            grid-row: 2/3;
            max-width: 100%;
            width: 100%;
            z-index: 2;
            border-radius: 0px ;
            align-self: flex-end;
            margin-top: 0rem;
        }
        &__text{
            grid-column: 1/-1;
            grid-row: 1/2;
            z-index: 2;
            place-self: center;
            text-align: center;
        }
    }

}