@use "../variabels";

.socials{
    background-color: #403d39;
    padding-bottom: 5rem;
    &:hover .socials__heading{
       
            color: variabels.$hover-red;
        
    }
    &__heading {
        padding-top: 2rem;
        text-align: center;
        font-size: 3em;
        transition: 0.4s;
        font-family: variabels.$product-font;
        color: variabels.$chill-white;
       
    }
    &__socialBox{
        display: flex;
        margin-top: 3rem;
        justify-content: center;
        gap: 5rem;
    }
    &__icon{
        font-size: 8rem;
        color: variabels.$chill-white;
        transition: 0.4s;
        &:hover{
            transform: scale(1.2);
            color: variabels.$hover-red;
        }

        
    }
}
@media only screen and (max-width: 1000px) {
    .socials{
        &__icon{
            font-size: 5rem;
        }
    }
}
@media only screen and (max-width: 600px) {
    .socials{
        &__socialBox{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__icon{
            font-size: 7rem;
        }
    }
}